# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*py~
*swp
*.sh

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyCharm environment files
.idea/

# Apple OSX
*.DS_Store

# Output file
*.csv
*.html
*.cprof
