language: python
sudo: false
os:
  - linux
cache:
  pip: true
python:
  - "3.5"
  - "3.6"
install:
  - pip install -r requirements.txt
script:
  # * E501 - line length limit
  - flake8 . --ignore=E501
  
